.btopnav {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0px;
    /*overflow: auto;*/
  }
  
  .btopnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .btopnav a:hover {
    background-color: #383434;
    color: rgb(230, 226, 226);
    cursor: pointer;    

  }
  /*.btopnav a:active {
    background-color: #04aa6d;
    color: rgb(255, 255, 255);
}*/

.topnav {
    overflow: hidden;
    background-color: #E7E9EB;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;/*checking*/
  }
  
  .topnav a:hover {
    background-color: #999999;
    color: black;
}
body {
    margin: 0px;
    background-color: #ffdf7f52;
}      

#instruction {
    margin-top: 69px;
    margin-left: 21px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #131313;
    width: 640px;
}

#intro {
    margin-top: 69px;
    margin-left: 21px;
    /*text-align: left;*/
    /*align-items: center;*/
    font-family: Verdana, sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 640px;
    font-size: 15px;
    line-height: 1.5;
    color: #131313;
}

#instructionS {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 21px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #131313;
}


#container {
    /*margin: auto;*/
    margin-left: 21px;
    margin-bottom: 21px;
    align-content: center;
    width: fit-content;
    border: 2px solid;
    border-radius: 5px;
    background-color: #E7E9EB;
    
}

#myCanvas {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    /*border: 1px solid;*/
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#Parag {
    float: left;
    min-width: 200px;
    /*min-height: 400px;*/
    /*margin-top: 10px;*/
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: white;
    /*border: 1px solid;*/
    border-radius: 3px;
}

/*
#MyBeginBtn {
    background-color: hsl(210,77%,46%);
    font-size: 13px;
    padding: 10.40px;
    cursor: pointer;
    line-height: normal;
    border: none;
    border-radius: 5px;
    color: white;
}

#MyFinishBtn {
    background-color: hsl(210deg 77% 46% / 40%);
    font-size: 13px;
    padding: 10.40px;
    line-height: normal;
    border: none;
    border-radius: 5px;
    color: white;
}
*/

.nicebuttonyay {
    /*background-color: hsl(210,77%,46%);*/
    background-color: hsl(157.95deg 95.4% 34.12%); /*which is #04AA6D, (same as the green in the NavBar..)*/
    font-size: 13px;
    padding: 10.40px;
    cursor: pointer;
    line-height: normal;
    border: none;
    border-radius: 5px;
    color: white;

}
:disabled {
    /*background-color: hsl(210deg 77% 46% / 40%);*/
    background-color: hsl(158deg 95% 34% / 40%);
    font-size: 13px;
    padding: 10.40px;
    line-height: normal;
    cursor: default;
    border: none;
    border-radius: 5px;
    color: white;
}